---
metadata:
  title: "Simple Note App"
  description: "Simple Note App"
  tags: ["add note", "noteapp", "note"]
---

<!-- MAIN CONTENT -->
<div class="w-screen min-h-screen flex flex-col p-10 bg-slate-100">
  <header class="flex w-full justify-center">
    <div class="w-[600px] flex items-center gap-2">
      <button
        class="h-12 px-4 bg-yellow-300 text-gray-800 rounded-md capitalize hover:bg-yellow-400"
        id="add_button"
        onclick="handleShowAddModal()"
      >
        add note
      </button>
      <form class="w-full flex-1">
        <div class="flex relative">
          <input
            type="text"
            placeholder="Search Note Here.."
            class="h-12 px-4 border-[1px] border-gray-300 rounded-md outline-none appearance-none w-full"
          />
          <i
            class="material-icons absolute self-center right-2 text-gray-300 select-none cursor-pointer"
            >search</i
          >
        </div>
      </form>
    </div>
  </header>
  
  {% include "note_container" %}


</div>
<!-- END MAIN CONTENT -->

<!-- ADD MODAL -->
<div
  class="flex flex-col justify-center items-center bg-black/50 fixed top-0 left-0 z-[200] w-screen h-screen"
  style="display: none"
  id="add_modal"
>
  <form class="w-[300px]" action="/api/content/create" method="post" x-show="open === true">
    <input
      type="text"
      class="h-12 px-4 border-none outline-none w-full bg-yellow-100"
      placeholder="write title here.."
      name="title"
      id="title"
      required
    />
    <textarea
      name="description"
      id="description"
      class="w-full min-h-[300px] p-4 bg-yellow-100 text-gray-500 outline-none"
      placeholder="write note here"
      required
    ></textarea>

    <div class="w-full flex gap-2 mt-4 p-4">
      <button
        class="h-12 bg-gray-300 text-gray-500 flex-1 capitalize rounded-md"
        type="button"
        onclick="handleShowAddModal()"
      >
        cancel
      </button>

      <button class="h-12 bg-green-500 text-white flex-1 capitalize rounded-md">
        save
      </button>
    </div>
  </form>
</div>
<!-- END ADD MODAL -->

<script>
  const handleShowAddModal = () => {
    let btn_show_modal = document.getElementById("add_button");
    let add_modal = document.getElementById("add_modal");

    if (add_modal.style.display == "none") {
      return (add_modal.style.display = "flex");
    }

    add_modal.style.display = "none";
  };
</script>
